@import "../Styles/CommonStyles.less";

.header__header-wrapper {
    height: 48px;
    background-color: @white;
    border-bottom: 1px solid @borderStandard;
}

.header__menu {
    height: 48px;
    cursor: pointer;
    padding: 0 0.5em;
    vertical-align: middle;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    transition: background-color 0.1s ease, visibility 0s, opacity 0.3s ease;
    &:hover {
        background-color: @fogSkyBlue;
        .header__menu-dropdown {
            visibility: visible;
            opacity: 1;
        }
    }
}

.header__menu-dropdown {
    max-height: 280px;
    background-color: @darkWhite;
    border: 2px solid;
    top: 42px;
    position: absolute;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0.8em 0.6em -0.4em rgba(0, 0, 0, 0.15), 0 13px 10px -6px rgba(0, 0, 0, 0.08);
    z-index: 1000;
}

.header__header-option {
    padding: 15px;
    padding-bottom: 7.5px;
    padding-top: 7.5px;
    &:first-child {
        padding-top: 15px;
    }
    &:last-child {
        padding-bottom: 15px;
    }
    &:hover {
        background-color: @fog;
    }
}