.header__header-wrapper {
  height: 48px;
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  z-index: 900;
  border-bottom: 1px solid #CCCCCC;
}
.header__menu {
  height: 48px;
  cursor: pointer;
  padding: 0 0.5em;
  vertical-align: middle;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: background-color 0.1s ease, visibility 0s, opacity 0.3s ease;
}
.header__menu:hover {
  background-color: #d7eef9;
}
.header__menu:hover .header__menu-dropdown {
  visibility: visible;
  opacity: 1;
}
.header__menu-dropdown {
  max-height: 280px;
  background-color: #FCFCFC;
  border: 2px solid;
  top: 42px;
  position: absolute;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0.8em 0.6em -0.4em rgba(0, 0, 0, 0.15), 0 13px 10px -6px rgba(0, 0, 0, 0.08);
  z-index: 1000;
}
.header__header-option {
  padding: 15px;
  padding-bottom: 7.5px;
  padding-top: 7.5px;
}
.header__header-option:first-child {
  padding-top: 15px;
}
.header__header-option:last-child {
  padding-bottom: 15px;
}
.header__header-option:hover {
  background-color: #dddedf;
}
.header__logo-link {
  float: left;
  text-decoration: none;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
}
.header__logo {
  height: 48px;
}
.carousel__wrapper {
  position: relative;
  right: 50%;
}
.carousel__image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 48px;
  transition: visibility 0.4s, opacity 0.6s ease;
}
.carousel__image.carousel__hidden-image {
  opacity: 0;
  visibility: hidden;
}
.carousel__title {
  font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 68px;
  letter-spacing: 0px;
  text-transform: capitalize;
  line-height: 1.5em;
  color: #FFFFFF;
  position: relative;
  top: 50%;
  left: 50%;
}
@media screen and (max-width: 768px) {
  .carousel__title {
    font-size: 30px;
  }
}
.carousel__subtitle {
  font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  letter-spacing: 0px;
  text-transform: capitalize;
  line-height: 1.5em;
  color: #FFFFFF;
  position: relative;
  top: 50%;
  left: 50%;
}
@media screen and (max-width: 768px) {
  .carousel__subtitle {
    font-size: 22px;
  }
}
.footer__upper {
  width: 100%;
  height: 121px;
  background-color: #5EC8F2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__lower {
  width: 100%;
  height: 273px;
  background-color: #2D5F73;
}
.footer__city-location {
  font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0px;
  text-transform: capitalize;
  line-height: 1.5em;
  color: #FFFFFF;
  position: relative;
  top: 60%;
}
.footer__email-wrapper {
  position: relative;
  top: 50%;
}
.footer__contact {
  text-decoration: none;
}
.footer__email {
  font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5em;
  cursor: pointer;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.footer__social-media {
  display: inline-block;
}
.footer__social-media:hover .footer__social-media-icon {
  background-color: #6F748C;
}
.footer__social-media:hover .footer__social-media-icon:hover {
  background-color: #FFFFFF;
}
.footer__social-media-icon {
  float: left;
  list-style-type: none;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin-left: 15px;
  transition: background-color 0.17s ease;
  cursor: pointer;
}
.footer__about-links {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40%;
}
.footer__about {
  margin-left: 15px;
  text-decoration: none;
}
.footer__about-text {
  font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5em;
  cursor: pointer;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.icon__instagram {
  margin-top: 25%;
}
.icon__email {
  margin-top: 25%;
}
body {
  background-color: #F0F0F2;
}
.main-page__intro-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page__mission-title {
  font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5em;
  color: #5574F9;
  padding: 30px;
  padding-bottom: 50px;
  border-bottom: 2px solid #0D0D0D;
  width: 30%;
  margin: auto;
  display: inline-table;
}
.main-page__mission-subtext {
  font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5em;
  padding: 30px;
}
