@import "../Components/Header/Header.less";
@import "./CommonStyles.less";
@import "../Components/Carousel/Carousel.less";
@import "../Components/Footer/Footer.less";
@import "../Components/Icons/Icons.less";
@import "../Components/MainPage/MainPage.less";
@import "../Components/RosterPage/RosterPage.less";
@import "../Components/ProfilePage/ProfilePage.less";
@import "../Components/StaffPage/StaffPage.less";

body {
    background-color: @veryLightGrey;
    font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.standard-text {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.5em;
    font-weight: 400;
    font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.standard-bold-text {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.5em;
    font-weight: 700;
    font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
}