.header__header-wrapper {
  height: 48px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #CCCCCC;
}
.header__menu {
  height: 48px;
  cursor: pointer;
  padding: 0 0.5em;
  vertical-align: middle;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: background-color 0.1s ease, visibility 0s, opacity 0.3s ease;
}
.header__menu:hover {
  background-color: #d7eef9;
}
.header__menu:hover .header__menu-dropdown {
  visibility: visible;
  opacity: 1;
}
.header__menu-dropdown {
  max-height: 280px;
  background-color: #FCFCFC;
  border: 2px solid;
  top: 42px;
  position: absolute;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0.8em 0.6em -0.4em rgba(0, 0, 0, 0.15), 0 13px 10px -6px rgba(0, 0, 0, 0.08);
  z-index: 1000;
}
.header__header-option {
  padding: 15px;
  padding-bottom: 7.5px;
  padding-top: 7.5px;
}
.header__header-option:first-child {
  padding-top: 15px;
}
.header__header-option:last-child {
  padding-bottom: 15px;
}
.header__header-option:hover {
  background-color: #dddedf;
}
.carousel__wrapper {
  position: relative;
  right: 50%;
}
.carousel__image {
  width: 100%;
  height: auto;
  position: absolute;
  transition: visibility 0.4s, opacity 0.6s ease;
}
.carousel__image.carousel__hidden-image {
  opacity: 0;
  visibility: hidden;
}
body {
  background-color: #F0F0F2;
}
